<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-fill bg-info p-4">
            <li class="nav-item">
                <a class="nav-link active text-white" href="#"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="far fa-newspaper"></i> Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary text-white" href="#"><i class="fas fa-search"></i> Search New Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger text-white" href="#"><i class="fas fa-minus-circle"></i> Clear Articles</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid text-center bg-transparent">
            <div class="container">
                <h1 class="display-4"><a href="https://www.oregonlive.com/" class="text-info">The Oregonian</a></h1>
                <p class="lead">Checkout the latest articles from <a href="https://www.oregonlive.com/"
                        class="text-info">The Oregonian.</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul>
            {{#each article}}
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-primary text-white" href="#"><i class="far fa-newspaper"></i> Save Article</a>
                    <a class="btn btn-primary text-white" href="#"><i class="far fa-newspaper"></i> Read Article</a>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{title}}Title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                            erat a
                            ante."</p>
                        <footer class="blockquote-footer">{{authorName}}Author Name <cite
                                title="Source Title">{{articleDate}} Date</cite></footer>
                    </blockquote>
                </div>
            </div>
            {{/each}}
        </ul>
    </div>
</div>